# For rules on SwiftFormat, please refer to https://github.com/nicklockwood/SwiftFormat/blob/master/Rules.md
#
# file options

# uncomment below to exclude files, folders
--exclude .build

# format options

--allman false
--binarygrouping 4,8
--commas always
--comments indent
--decimalgrouping 3,6
--elseposition same-line
--empty void
--emptybraces no-space
--enumnamespaces always
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-extension
--fractiongrouping disabled
--funcattributes prev-line
--guardelse auto
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef indent
--importgrouping testable-last
--indent 4
--indentcase false
--lineaftermarks true
--linebreaks lf
--maxwidth 120
--octalgrouping 4,8
--operatorfunc no-space
--patternlet hoist
--ranges spaced
--redundanttype inferred
--self insert
--semicolons never
--shortoptionals always
--stripunusedargs always
--swiftversion 5.9
--trimwhitespace always
--typeattributes prev-line
--typeblanklines remove
--varattributes prev-line
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
--xcodeindentation true

# rules

--enable andOperator
--enable anyObjectProtocol
--enable assertionFailures
--enable blankLineAfterImports
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenChainedFunctions
--enable blankLinesBetweenScopes
--enable blockComments
--enable braces
--enable conditionalAssignment
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable docComments
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable enumNamespaces
--enable extensionAccessControl
--enable genericExtensions
--enable headerFileName
--enable hoistAwait
--enable hoistPatternLet
--enable hoistTry
--enable indent
--enable initCoderUnavailable
--enable isEmpty
--enable leadingDelimiters
--enable linebreakAtEndOfFile
--enable linebreaks
--enable modifierOrder
--enable noExplicitOwnership
--enable numberFormatting
--enable opaqueGenericParameters
--enable preferKeyPath
--enable redundantClosure
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantInternal
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantOptionalBinding
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--enable redundantReturn
--enable redundantSelf
--enable redundantStaticSelf
--enable redundantType
--enable redundantVoidReturnType
--enable semicolons
--enable sortImports
--enable sortTypealiases
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable strongOutlets
--enable strongifiedSelf
--enable todos
--enable trailingClosures
--enable trailingCommas
--enable trailingSpace
--enable typeSugar
--enable unusedArguments
--enable void
--enable wrap
--enable wrapArguments
--enable wrapAttributes
--enable wrapEnumCases
--enable wrapLoopBodies
--enable wrapMultilineConditionalAssignment
--enable wrapSingleLineComments
--enable yodaConditions

--disable applicationMain
--disable blankLinesBetweenImports
--disable fileHeader
--disable markTypes
--disable organizeDeclarations
--disable preferForLoop
--disable redundantBackticks
--disable redundantBreak
--disable sortDeclarations
--disable sortSwitchCases
--disable wrapConditionalBodies
--disable wrapMultilineStatementBraces
--disable wrapSwitchCases
