<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUILD_TARGET_NAME</key>
	<string>$(TARGET_NAME)</string>
	<key>BITRISE_BUILD_NUMBER</key>
	<string>$(BITRISE_BUILD_NUMBER)</string>
	<key>PLACES_API_KEY</key>
	<string>$(PLACES_API_KEY)</string>
	<key>PLACES_APPLICATION_ID</key>
	<string>$(PLACES_APPLICATION_ID)</string>
	<key>ALGOLIA_APPLICATION_ID</key>
	<string>$(ALGOLIA_APPLICATION_ID)</string>
	<key>ALGOLIA_API_KEY</key>
	<string>$(ALGOLIA_API_KEY)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
</dict>
</plist>
