name: Cocoapods
on: 
  pull_request:
jobs:
  lint:
    runs-on: macos-12
    steps:
     - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
     - name: Select Xcode version
       run: sudo xcode-select -s '/Applications/Xcode_13.4.app/Contents/Developer'
     - name: Pod lib lint
       run: pod lib lint --allow-warnings
